/*My link to my contact section and GitHub account*/
button{
    background-color: aqua;
    border-radius: 30%;
    height: 40px;
    animation-name: divcolor;
    animation-duration: 10s;

}


/* for responsiveness of my word menu*/
.menua{
    background-color: #333030;
    border-radius: 10%;
    animation-name: divcolor;
    animation-duration: 6s;
    width: fit-content;
    height: fit-content;
}
/*for stylinng of my animation*/
@keyframes divcolor{
    0%{
        transform: rotateX(120deg);}
    50%{
    border-radius: 100%;}
    100%{
         transform: translateX(20px);
         }
}
/*for my flexbox*/
.container{
    display: flex;
    flex-direction: column;
    border-style: double;
    border-color: rgb(72, 5, 5);
    
    
}
/*for my CSS Grid*/
.grid-wrapper {
    display: grid;
    
    grid-gap: 2vw;
}

.grid-item1{
    
    color: #ffffff;
    padding: 1rem;
}

.grid-item2{
    
    color: #ffffff;
    padding: 1rem;
    
}
/*to position my content*/
.parent1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grid-item3{
    
    color: #ffffff;
    padding: 1rem;
    width: auto;
}

.grid-item4{
    
    color: #ffffff;
    padding: 1rem;
    width: fit-content;
}

.grid-item5{
    
    color: #ffffff;
    padding: 1rem;
    
    
}


.grid-item6{
    
    color: #ffffff;
    padding: 1rem;
}
/*to position my grid items*/
.parent2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

form{
    
    color: #ffffff;
    padding: 1rem;
}
/*Responsivness*/
@media (min-width: 0px) {
    body { background-image: url(../Images/last.jpg);
    font-family: monospace;
    font-size: small;
    }
    img{
        border-radius: 0%;
        width: 150px;
        height: 140px;
    }
    header{
        text-align: center;
    }

    .container{
        
        animation-name: divcolor;
        animation-duration: 5s;
    }
 }    


 /* Small devices (portrait tablets and large phones, 650px and up) */
 @media (min-width: 650px) {
    .container{
        
        animation-name: divcolor;
        animation-duration: 5s;
    }
    body { background-image: url(../Images/body.jpg);
    font-family: monospace;
    font-size: large; }
    img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
   
 } 

  /* Large devices (laptops/desktops, 900px and up) */
@media (min-width: 900px) {
    body { background-image: url(../Images/resume_background_img.jpg);
    font-family: monospace;
    font-size: larger; }
    img{
        border-radius: 50%;
        width: 250px;
        height: 320px;
 } 

 

 }
 
   img{
    border: 5px solid rgb(67, 10, 10);
    
   } 

header{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
    
}
.container{
        
    animation-name: divcolor;
    animation-duration: 5s;
}

